<!DOCTYPE html>
<html lang=ko>

<head>
<title> Smart Blind UI </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--js, css연결-->
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>


<body>

    <!-- clock -글씨 -->
   <div class="page-header" id="clock"> </div>

   <!-- clock -시계 -->
   <div>
   <div class="clock">
	<div class="hour"></div>
	<div class="min"></div>
	<div class="sec"></div>
   </div>
   <div class="switch-cont">
	<button class="switch-btn"> Light </button>
   </div>
   </div>

   <!-- 알람 설정 -->    
      <div class="wrapper">
         <label> Alarm </label>
         <input type="time" name="" id="cl" class="alarm-time" />
         <input type="submit" class="btn-alarm" id="OK" value="Set !">

         <div class="options">
             <button class="btn-snooze">Snooze for 5s</button>
             <button class="btn-stopalarm">Stop Alarm</button>
         </div>
     </div>

     <!-- 알람 리스트 --> 
      <table border="0" >
         <td>
             <!-- {%if(input data)%} -->
               <table border="0" width="290" style = "float:right;">
                  <tr>
                     <td style="text-align:center;" width="180" id="input1"></td>
                     <td style="text-align:center;" width="80">
                     <button id="del1" class="btn-alarm" onclick="del_1()">Delete</button>
                     </td>
                  </tr>
               </table>

            <!-- else -->  
         </td>
      </tr>


      <tr height="40">
         <td>
            <!-- {%if(input data)%} -->
               <table border="0" width="290" style = "float:right;">
                  <tr>
                     <td style="text-align:center;" width="180" id="input2"></td>
                     <td style="text-align:center;" width="80">
                     <button id="del2" class="btn-alarm" onclick="del_2()">Delete</button>
                     </td>
                  </tr>
               </table>

            <!-- else -->
         </td>
      </tr>

      <tr height="40">
         <td>
            <!-- {%if(input data)%} -->
               <table border="0" width="290" style = "float:right;">
                  <tr>
                     <td style="text-align:center;" width="180" id="input3"></td>
                     <td style="text-align:center;" width="80">
                     <button id="del3" class="btn-alarm" onclick="del_3()">Delete</button>
                     </td>
                  </tr>
               </table>
            <!-- else -->
         </td>
      </tr>
   </table>
   
   
   <!-- Auto Switch--> 

<div class="switch-button"><span class="active"></span>
   <button id="auto" onclick="auto()" class="switch-button-case left active-case">Auto</button>
   <button id="manual" onclick="manual()" class="switch-button-case right">Manual</button>
 </div>

   <p>&nbsp;</p>

   &nbsp;  
      <p style = "clear:both;">&nbsp;</p>

<!-- Up/Douw switch-->
<ul class="Nav MainNav">
   <li class="MainNav-Button MainNav-Button_LeftOfActive"><a href="#"><button id="up" onclick="up()">-</button>▽</a></li>
   <li class="MainNav-Button MainNav-Button_Active"><a href="#"><button id="down" onclick="down()">-</button>△</a></li>
</ul>

<!-- Degree switch-->
<ul class="Nav Nav_Small MainNav">
   <li class="MainNav-Button MainNav-Button_LeftOfActive"><a href="#"><button id="servo0" onclick="servo_0()">-</button>0</a></li>
   <li class="MainNav-Button MainNav-Button_Active"><a href="#"><button id="servo30" onclick="servo_30()">-</button>30</a></li>
   <li class="MainNav-Button MainNav-Button_RightOfActive"><a href="#"><button id="servo60" onclick="servo_60()">-</button>60</a></li>
   <li class="MainNav-Button"><a href="#"><button id="servo90" onclick="servo_90()">-</button>90</a></li>
   <li class="MainNav-Button"><a href="#"><button id="servo120" onclick="servo_120()">-</button>120</a></li>
   <li class="MainNav-Button"><a href="#"><button id="servo150" onclick="servo_150()">-</button>150</a></li>
   <li class="MainNav-Button"><a href="#"><button id="servo180" onclick="servo_180()">-</button>180</a></li>
</ul>






<iframe src="about:blank" width="0" height="0" frameborder="0" border="0" marginwidth="0" marginheight="0" name="iframe"></iframe>



<div class="container" width="70%" height="70%">
   <div class="on-ground-lights">
      <div class="window-light">
         <div class="cat">
            <div class="head"></div>
         </div>
      </div>
      <div class="window-light"></div>
   </div>
   <div class="table right">
      <div class="table-shadow">
         <div class="window-light"></div>
      </div>
   </div>
   <div class="bed">
      <div class="bed-shadow">
         <div class="window-light"></div>
         <div class="window-light"></div>
      </div>
      <div class="bed-head"></div>
      <div class="ground-cloth">
         <div class="window-light"></div>
         <div class="window-light"></div>
         <div class="under-pillow-shadows">
            <div class="head-shadow"></div>
            <div class="neck-shadow"></div>
         </div>
         <div class="pillow">
            <div class="window-light"></div>
            <div class="pillow-shadows">
               <div class="ear-shadow"></div>
               <div class="head-shadow"></div>
            </div>
         </div>
         <div class="boy">
            <div class="shoulder"></div>
            <div class="neck"></div>
            <div class="ears"></div>
            <div class="head">
               <div class="nose"></div>
               <div class="eyebrows">
                  <div class="eyebrow"></div>
                  <div class="eyebrow"></div>
               </div>
               <div class="eyes"></div>
               <div class="mouth"></div>
            </div>
            <div class="hair">
               <div class="part"></div>
               <div class="part keen"></div>
               <div class="part keen"></div>
               <div class="part keen"></div>
               <div class="part keen"></div>
               <div class="part keen"></div>
               <div class="part"></div>
               <div class="part"></div>
            </div>
         </div>
      </div>
      <div class="quilt">
         <div class="top">
            <div class="window-light"></div>
            <div class="window-light"></div>
            <div class="window-light"></div>
            <div class="window-light"></div>
         </div>
         <div class="bottom">
            <div class="window-light"></div>
            <div class="window-light"></div>
         </div>
      </div>
   </div>
   <div class="shoes">
      <div class="shoe"></div>
      <div class="shoe"></div>
   </div>
   <div class="table left">
      <div class="lamp">
         <div class="bulb"></div>
      </div>
      <div class="phone"></div>
   </div>
</div>

<img id="canvas" src="./images/sunset.jpeg">





    <!--CDN방식 제이쿼리, Socket-->
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   
    <script>
    // 시간(입력버튼) 입력하여 서버로 보내기 
   $("#OK").click(function(){
      $.ajax({
         url: '/postTest',
         async: true,
         type: 'POST',
         data: {
			time:$("#cl").val()
		 },
         dataType: 'json',
         success: function(data){
            alert("보내기 성공");
         },
         error: function(err) {
            elert("보내기 실패" + err);
         }
      });
   });

   // 소켓 통신부분
   $(document).ready(function() 
   {
      $(function()
        {
         var val    = 0;
         var oldval = 0;
         var x1;
			var x2;
			var x3;
			
         var socket = io();
        
		 socket.on('input1', function(data){
            $('#input1').text(data);
			console.log(data);
         });
		 
		 socket.on('input2', function(data){
            $('#input2').text(data);
			console.log(data);
         });
		 
		 socket.on('input3', function(data){
            $('#input3').text(data);
			console.log(data);
         });
			
         socket.on('servo', function( servoStatus ){
            $('#servo').text(servoStatus);
            console.log(servoStatus);
         });
            
         socket.on('adc', function( adcValue ){
            $('#adc').text(adcValue);
            



            oldval = val;
            // val = parseInt(adcValue);
            val = parseInt(adcValue);


            var canvas = document.getElementById('canvas');
                  
            if (canvas.getContext){
               var ctx = canvas.getContext('2d');
               
               if( val != oldval ) {
               //*   // 512 x 20
                  ctx.fillStyle = 'rgb(88, 54, 117)';
                  ctx.fillRect(0,   0,    600, val*2.5);   //(x, y, 너비, 높이)
                  ctx.clearRect(0, val*2.5, 600, 450);
               //*/
               /*  //  20 x 512
                  ctx.fillStyle = 'rgb(255, 255, 255)';
                  ctx.fillRect(0, 0, 20, val);
                  ctx.fillStyle = 'rgb(0, 200, 0)';
                  ctx.fillRect(0, 512-val, 20, val);
               */
               }
            }
         });
      });
      
   });

   </script>

</body>
</html>